<% layout('layout') -%>

        <style>
            

            h1 {
                margin: 0 10px;
                font-size: 50px;
                text-align: center;
            }

            h1 span {
                color: #bbb;
            }

            h3 {
                margin: 1.5em 0 0.5em;
            }

            p {
                margin: 1em 0;
            }

            .container {
                max-width: 380px;
                _width: 380px;
                margin: 20px auto 0px;
                background: #fff;
                padding: 20px;
                border-radius: 3px;
            }

            
            }
        </style>


<div class="container">
    <h1>Oops! <span>:(</span></h1>
    <p>Sorry, our server has encountered a problem when processing your request. Please try it again later.</p>
    <p>If you need any help, please contact us through <a style="text-decoration: underline;" href="mailto: donghui@singmade.com">donghui@singmade.com</a>.</p>
   
</div>
