<% layout('layout') -%>


<div class="caption-container">
	<div class="caption">
		Ladies
	</div>
	<div class="categories">
	<ul class="grid">
		<li>
			<a href="#">
				<img src="http://res.cloudinary.com/boutiquesg/image/upload/v1381852555/top-lady_w4hmxg.png">
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://res.cloudinary.com/boutiquesg/image/upload/v1381852625/skirt-lady_oivat5.png">
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://res.cloudinary.com/boutiquesg/image/upload/v1381853211/dress-lady_ud8ftu.png">
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://res.cloudinary.com/boutiquesg/image/upload/v1381853226/bottom-lady_hbd3fc.png">
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://res.cloudinary.com/boutiquesg/image/upload/v1381853225/shoe-lady_qex0vk.png" style="margin-top: 10px;">
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://res.cloudinary.com/boutiquesg/image/upload/v1381853225/bag-lady_z5b1gh.png">
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://res.cloudinary.com/boutiquesg/image/upload/v1382255960/jeans-lady_jodle1.png">
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://res.cloudinary.com/boutiquesg/image/upload/v1382256475/jewelry_oi2f5k.png">
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://res.cloudinary.com/boutiquesg/image/upload/v1382257126/hat-lady_hvpimb.png" style="margin-top: 20px;">
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://res.cloudinary.com/boutiquesg/image/upload/v1382262705/grove_rlrynp.png">
			</a>
		</li>
	</ul>	
	</div>
</div>


<div class="caption-container">
	<div class="caption">
		Gents
	</div>
	<div class="categories">
	<ul class="grid">
		<li>
			<a href="#">
				<img src="http://res.cloudinary.com/boutiquesg/image/upload/v1381853802/tshirt-gent_sgmi5y.png">
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://res.cloudinary.com/boutiquesg/image/upload/v1381853802/shirt-gent_ogehs1.png">
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://res.cloudinary.com/boutiquesg/image/upload/v1381853802/dress-gent_iyqtf7.png">
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://res.cloudinary.com/boutiquesg/image/upload/v1381853802/bottom-gent_rh3yxz.png">
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://res.cloudinary.com/boutiquesg/image/upload/v1381853802/shoe-gent_hpyfeq.png" style="margin-top: 35px;">
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://res.cloudinary.com/boutiquesg/image/upload/v1381853802/bag-gent_u7nipj.png" style="margin-top: 10px;">
			</a>
		</li>
	</ul>	
	</div>
</div>




