<% layout('layout') -%>

<div class="caption-container">
	<div class="caption">Gents</div>
	<div class="categories">
	<ul>
		<li>
			<a href="#">
				<i class="image icon-singmade-tshirt-men-1"></i>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="image icon-singmade-shirt-men"></i>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="image icon-singmade-dress-men"></i>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="image icon-singmade-bottom-men"></i>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="image icon-singmade-shoe-men"></i>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="image icon-singmade-bag-men"></i>
			</a>
		</li>
	</ul>	
	</div>
</div>
