<% layout('layout') -%>

<div class="caption-container">
	<div class="caption">Ladies</div>
	<div class="categories">
	<ul>
		<li>
			<a href="#">
				<i class="image icon-singmade-top-women"></i>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="image icon-singmade-skirt"></i>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="image icon-singmade-dress-women"></i>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="image icon-singmade-bottom-women"></i>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="image icon-singmade-shoe-women"></i>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="image icon-singmade-bag-women"></i>
			</a>
		</li>
	</ul>	
	</div>
</div>