/*! http://responsiveslides.com v1.52 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

#slider1-pager {
	list-style: none;
	/*text-align: center;*/
	padding: 0;
}

#slider1-pager li {
	display: inline;
	margin: 5px;
}

#slider1-pager li a {
	border: solid 1px #fff;
	display: inline-block;
	width: 79px;
	height: 79px;
}
