<% layout('../layout') -%>

<div class="caption-container" style="margin: 20px auto; width: 350px;">
	<div class="caption">
		forgot password
	<a class="right link" href="/login">login</a>
	</div>
	<div class="content">
	
		<% if (errors) { %>
		<div class="error message"><%- errors %></div>
		<% } %>

		<form class="form" id="forgotPasswordForm" action="/retrieve-password" method="post" onsubmit="document.getElementById('submit').disabled = true;">
			<label>Email <span>which you registered with us</span></label>
			<input type="text" id="username" name="username" placeholder="Email">
			<button id="submit" type="submit">Submit</button>
		</form>
	
	</div>
</div>

	


