<% layout('../layout') -%>

<div class="caption-container" style="margin: 20px auto; width: 350px;">
	<div class="caption">
		reset password
	</div>
	<div class="content">
	
		<% if (errors) { %>
		<div class="error message"><%- errors %></div>
		<% } %>

		<form class="form" id="resetPasswordForm" action="/generate-new-password" method="post" onsubmit="document.getElementById('submit').disabled = true;">
			<label>New Password</label>
			<input type="password" id="password" name="password" placeholder="Password">
			<input type="hidden" id="token" name="token" value="<%= token %>">
			<button id="submit" type="submit">Submit</button>
		</form>
	
	</div>
</div>

	


