<% layout('../layout') -%>

<style type="text/css">
	#signupForm input[type="text"], #signupForm input[type="password"] {
		width: 350px;
	}
</style>

<div class="caption-container" style="margin: 20px auto; width: 350px;">
	<div class="caption">
		sign up
	</div>
	<div class="content">
	<% if (errors) { %>
		<div class="error message"><%- errors %></div>
	<% } %>
	<form class="form" id="signupForm" action="/create-user" method="post" onsubmit="document.getElementById('submit').disabled = true;">
		
		<label>email <span>as username to login and retrieve password</span></label>
		<input type="text" name="user[userId]" placeholder="Email"  value="<%= (userForm) ? userForm.userId : '' %>">

		<label>your full name</label>
		<input type="text" name="user[displayName]" placeholder="Your Full Name" value="<%= (userForm) ?  userForm.displayName : '' %>">

		<label>password</label>
		<input type="password" name="user[password]" placeholder="Password">

		<button id="submit" type="submit">Sign up</button>
	</form>
	
	<p>Sign up using social media accounts</p>
	<a class="social-signup-button" href="/auth/facebook">
	<i class="fa fa-facebook-square fa-3x facebook"></i>
	</a>
	<a class="social-signup-button" href="/auth/twitter">
	<i class="fa fa-twitter-square fa-3x twitter"></i>
	</a>
	<a class="social-signup-button" href="/auth/sina">
	<img src="http://res.cloudinary.com/boutiquesg/image/upload/v1386337265/weibo_xivxin.png" style="vertical-align: bottom;">
	</a>
	
	</div>
</div>


