<p><span style="color: #ee5193">www.singmade.com</span> is a designers' marketplace to buy and sell designer collections. We are dedicating ourselves to discovering talented designers, artists and creative persons. singmade.com is an innovative platform for designers, artists and creative persons to display and sell their genuine designs to the high-end customers.</p>

<p><strong>Our vision</strong></p>
<p>To help independent designers, artists and creative persons to be well-known by the world. </p>

<p><strong>Contact Us</strong></p>
<table><tr>
<td valign="top"><img src="http://res.cloudinary.com/boutiquesg/image/upload/c_scale,e_grayscale,w_100/v1383636305/Founder_xgrjym.jpg"></td>
<td valign="top" style="padding: 0 10px;"><strong>Donghui Wu</strong><br><i style="font-size: 12px">Founder</i><br><a href="mailto:donghui@singmade.com" style="color: #ee5193;font-size: 12px;">donghui@singmade.com</a>
<p style="font-size: 12px;"></p>
</td>
</tr></table>

