<p>
	If you were an <strong>independent designer</strong>, <strong>artist</strong> or <strong>creative person</strong>, you are the person who we are looking for. Please email us at <a class="link" href="mailto:donghui@singmade.com" style="color: #ee5193">donghui@singmade.com</a> for the collaboration details. We look forward to hearing from you.</p>
<!-- 
<br>
<p><strong>How to join us</strong></p>
<p>
	As an independent designer, artist or creative person,<br>
	(1) <strong>Tell us about yourself</strong><br>
	You can either <a style="text-decoration: underline;color: #ee5193" href="https://docs.google.com/forms/d/1qy3-2iLsdqmrQnYO1usdFMavXIF37WKZenMe3HaSACc/viewform" target=_blank>submit your information here</a> or email us at <a class="link" href="mailto:donghui@singmade.com" style="color: #ee5193">donghui@singmade.com</a>.<br><br>
	(2) <strong>Information validation.</strong><br>
	We will validate your information and inform you after verification.<br><br>
	(3) <strong>Upload your designs</strong><br>
	We will help you to upload your designs to start selling.<br>
	</p>

<br>
<p><strong>What you can sell</strong></p>
<p>
(1) Genuine products designed by you<br>
<span style="color: #666">e.g. clothes, accessories, furnitures etc.</span><br><br>
(2) Art<br>
<span style="color: #666">e.g. paintings, photograph etc.</span><br><br>
(3) Antique
</p>

<br>
<p><strong>How to sell</strong></p>
<p>All your products are kept by yourself. singmade.com doesn't make the purchase for your products in advance. <br>
(1) When someone orders your product and makes the payment, singmade.com will notify you.<br><br>
(2) If the product is available, you will need to deliver it to our Singapore office via our trusted delivery.<br><br> 
(3) We will deduct <strong>15%</strong> of the product price(include delivery fee) as our management charge<span style="color: #ff0000">**</span> + <strong>7% GST</strong>(Goods and Services Tax). The rest of the amount will be transferred to your bank account within <strong>14 days</strong> after the product is received by the customer.<br><br>
(4) <strong>Return policy</strong>: Our customer has <strong>7 days</strong> to return their purchase if any circumstances below occurs:
<ul>
<li>Damaged product</li>
<li>Wrong size or product</li>
<li>Obvious contrast between the picture and real product</li>
</ul>
We will investigate the fault. If it was not a fault made by singmade.com, the product will be returned back to you. Otherwise, you will still be paid according to (3).
</p>
<p style="color: #ff0000">
** singmade.com will waive the management fee (15%) for the first year. 
</p>
 -->
