<% layout('../layout') -%>
<div class="caption-container">
	<h1 class="caption">Join Us</h1>
	<div>
	<p>Singmade.com is a design-oriented online shopping store. Singmade.com is a specialized platform for selling designer goods and artist works.</p>
	<p>We are currently looking for independent designer, artist or designed/inspired product brand to join us. </p>
	<p>Please email us at <a href="mailto:woo.donghui@gmail.com" style="font-weight: bold;">woo.donghui@gmail.com</a>. We look forward to hearing from you.</p>
	</div>
</div>