<% layout('../layout') -%>

<link rel="stylesheet" href="/css/checkout.css">

<div class="checkout-container" style="margin: 20px auto; width: 350px;">
<div class="header">
	<div class="title"><i class="fa fa-warning-sign"></i> do you have an account?</div>
</div>

<div class="content">
	<p><a href="/login" class="link">Member Login</a> / <a href="/signup" class="link">Register</a></p>
	<p>Log in with social media accounts</p>
	<a class="social-signup-button" href="/auth/facebook">
	<i class="fa fa-facebook-square fa-3x facebook"></i>
	</a>
	<a class="social-signup-button" href="/auth/twitter">
	<i class="fa fa-twitter-square fa-3x twitter"></i>
	</a>
	<a class="social-signup-button" href="/auth/sina">
	<img src="http://res.cloudinary.com/boutiquesg/image/upload/v1386337265/weibo_xivxin.png" style="vertical-align: bottom;">
	</a>
</div>

<div class="footer">
<a class="button white" href="/checkout/guest">Checkout As Guest</a>
</div>
</div>

	


