<% layout('../layout') -%>

<div class="plain-container" style="margin: 20px auto; width: 350px;">
	
	<p>
	Thanks for your interesting on us. Our website is still under the testing. We will open to public by the end of 2013. 
	</p>
	
</div>

	


