<html>
<title>Important - Reset Password</title>
<body style="font-family: arial, sans-serif; background: url(http://res.cloudinary.com/boutiquesg/image/upload/singmade-background.png) repeat scroll 0 0 #333333; padding: 20px;">
	<table width="650" style="color: #ffffff; background: rgba(0,0,0,0.6); border-radius: 5px; padding: 10px;" align="center">
		<tr>
			<td>
				<a href="http://www.singmade.com"><img alt="singmade logo" src="http://res.cloudinary.com/boutiquesg/image/upload/c_scale,w_181/v1383623188/singmade_pt0rxm.png" width="181" height="55"></a>
				<p style="margin-top: 30px; font-size: 13px;">Dear <strong><%= displayName %></strong></p>
				<p style="font-size: 13px;">
				You are receiving this email as you have submitted "Forgot password" form. If you did not submit this request, simply ignore this email.<br><br>
				The link below contains a security key for you to reset the password.
				<br><br>
				<a style="color: #ee5193" href="http://www.singmade.com/reset-password?token=<%= token %>">http://www.singmade.com/reset-password?token=<%= token %></a>
				<br><br>
				Once you have reset your password the security key will automatically expire. Your security is our priority, for this reason this email is only submitted to the verified email for the account.
				<br><br>
				If you need any help, please email us to <a style="color: #ee5193" href="mailto:donghui@singmade.com">donghui@singmade.com</a>. We will reply to you ASAP. 
				<br><br><br>
				Best Regards,<br><br>
				<img src="http://res.cloudinary.com/boutiquesg/image/upload/c_scale,w_98/v1374037894/singmade.png"><br>
				<a href="http://www.singmade.com" style="color: #ffffff; text-decoration: none;">www.singmade.com</a><br>
				<a href="mailto:donghui@singmade.com" style="color: #ffffff; text-decoration: none;">donghui@singmade.com</a>
				<br><br><br>
				***** Please do not reply to this automated email *****
				<br>
				</p>
			</td>
		</tr>
	</table>
</body>
</html>
